# <center>data_07 (indicators 02) adjustment</center>

## 1. Imports

In [4]:
import pandas as pd
import numpy as np
import os

## 2. Load dataframe

In [5]:
input_path_indicators_2 = os.path.join(os.getcwd(), '..', 'sprint_01_data_collection', 'data_07')
input_file_indicators_2 = 'data_07_brazil_indicators.csv'
df_indicators_2 = pd.read_csv(os.path.join(input_path_indicators_2, input_file_indicators_2)).drop('Unnamed: 0', axis=1)
df_indicators_2.head()

,Territorialidade,Posição IDHM,IDHM,Posição IDHM Renda,IDHM Renda,Posição IDHM Educação,IDHM Educação,Posição IDHM Longevidade,IDHM Longevidade,Posição Mulheres,...,IDHM Brancos,Posição Urbano,IDHM Urbano,Posição Rural,IDHM Rural,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,São Caetano do Sul (SP),1,0.862,8,0.887,2,0.811,1,0.891,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Águas de São Pedro (SP),2,0.854,5,0.890,1,0.825,11,0.849,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Florianópolis (SC),3,0.847,22,0.873,5,0.800,4,0.870,23.0,...,0.863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Vitória (ES),4,0.845,40,0.855,4,0.805,3,0.876,33.0,...,0.890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Balneário Camboriú (SC),4,0.845,1,0.894,6,0.789,9,0.854,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3. split states from cities

In [26]:
try:
    df_indicators_2['Municipio'] = df_indicators_2['Territorialidade'].apply(lambda city: city.split('(')[0].rstrip(' '))
    df_indicators_2['Estado'] = df_indicators_2['Territorialidade'].apply(lambda city: city.split('(')[1].replace(')', ''))
    df_indicators_2.drop('Territorialidade', axis=1, inplace=True)

except KeyError:
    print('Territorialidade had already been removed')
    
df_indicators_2.head()

Territorialidade had already been removed

,Posição IDHM,IDHM,Posição IDHM Renda,IDHM Renda,Posição IDHM Educação,IDHM Educação,Posição IDHM Longevidade,IDHM Longevidade,Posição Mulheres,IDHM Mulheres,...,IDHM Urbano,Posição Rural,IDHM Rural,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Municipio,Estado
0,1,0.862,8,0.887,2,0.811,1,0.891,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,São Caetano do Sul,SP
1,2,0.854,5,0.890,1,0.825,11,0.849,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Águas de São Pedro,SP
2,3,0.847,22,0.873,5,0.800,4,0.870,23.0,0.871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Florianópolis,SC
3,4,0.845,40,0.855,4,0.805,3,0.876,33.0,0.824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vitória,ES
4,4,0.845,1,0.894,6,0.789,9,0.854,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Balneário Camboriú,SC

## 4. Save

In [27]:
output_path = os.path.join(os.getcwd(), 'output')
output_file = 'output_04_data_07_brazil_indicators_02_with_states_and_cities.csv'
df_indicators_2.to_csv(os.path.join(output_path, output_file))